<%- provide(:title, 'Home') -%>
<div class="par">
	<% flash.each do |key, value| %>
		<%= content_tag(:div, value, class: "notice") %>
	<% end %>
	<h1 align="center">WELCOME!</h1> 
	<% if Rails.env.development? %>
	<input type="text" id="test1" />
	<ul class="result">
	          <li><strong>Paragraphs: </strong><span id="result__paragraphs">0</span></li>
	          <li><strong>Words: </strong><span id="result__words">0</span></li>
	          <li><strong>Characters: </strong><span id="result__characters">0</span></li>
	          <li><strong>Characters (with spaces): </strong><span id="result__all">0</span></li>
	        </ul>
	<% end %>
	<p align="justify">Are you ready to party yourself into shape? That’s exactly what the Zumba® program is all about.<br/>It's easy, fun, an excellent workout, and you won't even feel like you are exercising! It definitely has a "party" atmosphere which is less intimidating for people who may not be as coordinated as others.<br/>ZUMBA means "to move fast and have fun" and that's exactly what happens! It's the outlet every woman needs, moving her toward joy and health.<br/>"Zumba with Blimie" caters to the frum Lakewood community without compromising on the quality of dance or music.<br/>Join us for an awesome class to see for yourself what the craze is all about!</p>
</div>
<div class="splash"></div>
<div id="gallery">
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"Zumba with Blimie brings on a whole new meaning of energy!!"</p>
		<p class="ar"><i>T. F.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"Never has an exercise class gone by so fast!! When the hour is up, I don't want to stop dancing!! Blimie rox!!"</p>
		<p class="ar"><i>C. F.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"I hated every form of exercise but was looking for a way to trim down... After 2 Zumba classes I was hooked! Zumba is simply just FUN and I lets me dance and enjoy myself while really burning those calories! Blimie is energetic, smiley and personable, and so talented - there's no Zumba instructor out there like her! Zumba with Blimie is most definitely the place to be! and P.S. i did lose weight and reached my goal!"</p>
		<p class="ar"><i>A. H.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"I can't wait for Zumba each week! Blimie is an incredible instructor, and helps us get in shape while we have so much fun!"</p>
		<p class="ar"><i>S. L.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"Zumba with Blimie is simply great! It feels great and you look great!"</p>
		<p class="ar"><i>S. S.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">"Exercise that I actually look forward to doing!"</p>
		<p class="ar"><i>R. B.</i></p>
	</div>
	
	<div class="tes">
		<h4>Testimonials</h4>
		<p class="test">" I always look forward to zumba, and get so dissapointed when I can't make it. It's the highlight of my week: to get out, have fun, burn calories, and feel great!"</p>
		<p class="ar"><i>B. M.</i></p>
	</div>
</div>
<div id="thumbs">
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
	<%= image_tag "11.jpg"%>
</div>