<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Classes", calendar_path %></li>
<li><%= link_to "About Zumba", about_path %></a></li>
<li><%= link_to "FAQ's", faqs_path %></li>
<li><%= link_to "Contact us", contact_path %></li>